In [1]:
import pandas as pd

In [5]:
dff = pd.read_csv('fields1.csv')
dfz = pd.read_csv('zillow1.csv')
dfc = pd.read_csv('census1.csv')
dfcombo = pd.read_csv('combo.csv')

In [6]:
years_to_encode = [2019, 2020, 2021]
for year in years_to_encode:
    dfcombo[f'year_{year}'] = (dfcombo['year'] == year).astype(int)

In [7]:
dfcombo['weighted_avg'] = (dfcombo['population'] * dfcombo['pct_next_1yr']).groupby(dfcombo['year']).transform('sum') / dfcombo['population'].groupby(dfcombo['year']).transform('sum')
dfcombo['winner'] = dfcombo.apply(lambda x: 1 if x['pct_next_1yr'] > x['weighted_avg'] else 0, axis=1)

In [8]:
dff.head()

,code,myname,use_as_is,note,descr1,descr2
0,B01001_001E,population,1,use as is and use for calculations,Estimate!!Total:,SEX BY AGE
1,B19013_001E,median_household_income,1,seems to be $,Estimate!!Median household income in the past ...,MEDIAN HOUSEHOLD INCOME IN THE PAST 12 MONTHS ...
2,B01002_001E,median_age,1,just median age,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX
3,B23025_002E,labor_force,0,divide by population,Estimate!!Total:!!In labor force:,EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS ...
4,B23025_005E,unemployed,0,divide by population,Estimate!!Total:!!In labor force:!!Civilian la...,EMPLOYMENT STATUS FOR THE POPULATION 16 YEARS ...

In [9]:
dfz.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,City,Metro,CountyName,2000-01-31,...,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31
0,91982,1,77494,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Fort Bend County,213207.449193,...,484545.423106,482998.627982,480762.710077,479445.795903,478396.792362,479623.197138,481652.685632,484818.440189,487650.169224,490161.927693
1,61148,2,8701,zip,NJ,NJ,Lakewood,"New York-Newark-Jersey City, NY-NJ-PA",Ocean County,138706.618807,...,525459.564754,528481.179889,530866.429595,533099.554913,536015.609542,540209.612968,545621.736221,551618.956629,557787.374606,563740.488083
2,91940,3,77449,zip,TX,TX,Katy,"Houston-The Woodlands-Sugar Land, TX",Harris County,104005.403992,...,287817.295002,285751.839606,283305.514483,280947.848337,279077.781291,277875.217836,277392.281244,277773.660692,278539.454227,279441.879993
3,62080,4,11368,zip,NY,NY,New York,"New York-Newark-Jersey City, NY-NJ-PA",Queens County,149493.211900,...,508472.778857,505169.076617,499583.980419,492648.821682,486263.256758,479571.797020,472397.526197,466948.659683,465108.150687,465102.144897
4,91733,5,77084,zip,TX,TX,Houston,"Houston-The Woodlands-Sugar Land, TX",Harris County,102704.068566,...,277720.958818,276694.069269,275123.071172,273514.546846,272181.096873,271383.921551,271240.340967,271842.305613,272691.518967,273570.680709

In [10]:
dfc.head()

,zipcode,year,population,median_household_income,median_age,labor_force,unemployed,bachelors_degr,masters_degr,num_households,...,single_family_units,workers_using_public_trans,workers,foreign_born,male,female,gini,cost_of_living_perc,median_RE_tax,state
0,2655,2012,3846,73323.0,54.6,1626.0,156.0,732,399,1699,...,2814,25.0,1462.0,323,1723,2123,0.5339,28.9,3527.0,25.0
1,2657,2012,2974,46031.0,52.9,1992.0,258.0,883,422,1687,...,1913,43.0,1699.0,236,1712,1262,0.5349,30.4,3493.0,25.0
2,2659,2012,741,51466.0,61.0,355.0,31.0,121,62,374,...,1182,15.0,317.0,86,344,397,0.3777,20.5,2146.0,25.0
3,2660,2012,5881,48617.0,51.3,2835.0,173.0,976,419,2699,...,3478,42.0,2534.0,208,2807,3074,0.4286,24.3,1742.0,25.0
4,2663,2012,96,21667.0,34.7,80.0,16.0,48,0,64,...,315,0.0,64.0,0,64,32,0.1638,50.0,4333.0,25.0

In [13]:
T = dfcombo.describe().T
T

,count,mean,std,min,25%,50%,75%,max
zipcode,217324.0,48161.549309,27812.434636,1001.000000,25315.000000,47171.000000,71241.000000,9.990100e+04
year,217324.0,2016.619789,2.857517,2012.000000,2014.000000,2017.000000,2019.000000,2.021000e+03
population,217324.0,14192.464555,15809.836341,25.000000,2512.000000,7483.000000,21630.000000,1.303520e+05
median_household_income,217324.0,60253.622380,24950.906483,2499.000000,43789.750000,54638.500000,70286.000000,2.500010e+05
median_age,217324.0,41.236737,6.945752,15.900000,36.700000,40.900000,45.200000,8.430000e+01
median_rent,217324.0,923.939557,374.824226,99.000000,671.000000,821.000000,1074.000000,3.501000e+03
mean_travel_time_to_work,217324.0,6207.458339,7099.169141,0.000000,1035.000000,3109.000000,9409.000000,6.095600e+04
median_value,217324.0,212311.416930,179707.665540,9999.000000,108500.000000,158200.000000,247500.000000,2.000001e+06
ave_num_rooms,217324.0,5.731863,0.833573,1.300000,5.300000,5.700000,6.200000,1.000000e+01
gini,217324.0,0.424868,0.055501,0.128000,0.388275,0.420900,0.457300,7.865000e-01
cost_of_living_perc,217324.0,18.580239,3.757784,9.000000,16.100000,18.200000,20.600000,5.100000e+01
median_RE_tax,217324.0,2450.097165,2034.596415,199.000000,1078.000000,1790.000000,3144.000000,1.000100e+04
labor_force_perc,217324.0,0.495243,0.072232,0.028072,0.452407,0.500702,0.541789,9.276438e-01
unemployed_perc,217324.0,0.033299,0.019219,0.000000,0.020046,0.030077,0.043110,2.528517e-01
bach_degr_perc,217324.0,0.114922,0.064262,0.000000,0.067285,0.099602,0.150246,5.862069e-01
masters_degr_perc,217324.0,0.049631,0.038132,0.000000,0.023383,0.038130,0.064807,3.883879e-01
peops_per_household,217324.0,2.639761,0.451557,1.213785,2.396071,2.587383,2.812079,2.801562e+01
owner_occ_perc,217324.0,0.716066,0.155266,0.017584,0.646490,0.749300,0.824506,9.971408e-01
new_units_perc,217324.0,0.011487,0.024690,0.000000,0.000000,0.002614,0.012672,8.446626e-01
families_wU18_perc,217324.0,0.305486,0.089063,0.000000,0.252890,0.303547,0.356232,8.296296e-01
poverty_perc,217324.0,0.038404,0.034039,0.000000,0.013647,0.029840,0.053637,4.869281e-01
non_families_perc,217324.0,0.324344,0.103213,0.000000,0.257862,0.314662,0.375662,9.788961e-01
vacant_perc,217324.0,0.222737,0.433072,0.000000,0.070215,0.124451,0.223780,7.780769e+01
perc_moved_fr_same_county,217324.0,0.069024,0.043296,0.000000,0.038330,0.062238,0.091562,4.926581e-01
perc_moved_fr_other_county,217324.0,0.032361,0.028361,0.000000,0.013713,0.026107,0.042974,5.329513e-01
perc_moved_fr_other_state,217324.0,0.019694,0.020843,0.000000,0.006082,0.014102,0.026681,5.252343e-01
perc_moved_fr_abroad,217324.0,0.003966,0.007325,0.000000,0.000000,0.001509,0.004968,4.463158e-01
single_fam_perc,217324.0,0.858715,0.388301,0.000000,0.705810,0.844219,0.966151,1.876923e+01
public_trans_perc,217324.0,0.024090,0.065351,0.000000,0.000000,0.003579,0.017562,8.199850e-01
foreign_born_perc,217324.0,0.075785,0.099201,0.000000,0.012902,0.036172,0.096199,7.842636e-01
male_perc,217324.0,0.497103,0.033649,0.219495,0.479167,0.493893,0.511018,9.585425e-01
typ_price,217324.0,234898.367942,221275.942854,5995.127509,118828.556216,173857.810628,270721.597007,7.482104e+06
pct_next_1yr,217324.0,0.072615,0.061442,-0.395326,0.033453,0.064001,0.103720,7.528803e-01
pct_next_2yr,194646.0,0.151725,0.109241,-0.455396,0.075817,0.133974,0.212154,1.375452e+00
pct_next_3yr,172037.0,0.230484,0.150072,-0.513425,0.123571,0.207495,0.315789,2.124090e+00
pct_next_4yr,149213.0,0.307696,0.187517,-0.528382,0.174061,0.283356,0.413946,2.935260e+00
pct_next_5yr,126723.0,0.395037,0.233296,-0.565696,0.231639,0.363989,0.520972,3.937919e+00
pct_next_6yr,104497.0,0.491687,0.283001,-0.549099,0.297742,0.452123,0.636490,5.341587e+00
pct_next_7yr,82436.0,0.600674,0.332725,-0.509055,0.376258,0.550896,0.763920,6.326163e+00
pct_next_8yr,61393.0,0.740510,0.392525,-0.510321,0.478691,0.671987,0.925460,6.576690e+00
pct_next_9yr,40664.0,0.899868,0.475950,-0.484314,0.586548,0.800606,1.113155,8.222003e+00
pct_next_10yr,20276.0,1.052452,0.572992,-0.446457,0.680425,0.924169,1.297416,1.120245e+01
year_2019,217324.0,0.105023,0.306584,0.000000,0.000000,0.000000,0.000000,1.000000e+00
year_2020,217324.0,0.104034,0.305305,0.000000,0.000000,0.000000,0.000000,1.000000e+00
year_2021,217324.0,0.104319,0.305674,0.000000,0.000000,0.000000,0.000000,1.000000e+00
weighted_avg,217324.0,0.079094,0.028071,0.046874,0.059667,0.068893,0.093404,1.478828e-01
winner,217324.0,0.409016,0.491653,0.000000,0.000000,0.000000,1.000000,1.000000e+00

In [12]:
formulas = [
    ['labor_force_perc', '(dfx.labor_force / dfx.population)', 1, 'labor force perc (0-1)'], 
    ['unemployed_perc', '(dfx.unemployed / dfx.population)', 1, 'labor force perc (0-1)'], 
    ['bach_degr_perc', '(dfx.bachelors_degr / dfx.population)', 1, 'bachelors degree perc (0-1)'], 
    ['masters_degr_perc', '(dfx.masters_degr / dfx.population)', 1, 'masters degree perc (0-1)'], 
    ['peops_per_household', '(dfx.population / dfx.num_households)', 1, 'people per household'],
    ['owner_occ_perc', '(dfx.owner_occupied / dfx.num_households)', 1, 'percent owner occupied (0-1)'],
    ['new_units_perc', '(dfx.housing_units_built_last_year / dfx.num_households)', 1, 'units built last year, percent of all units (0-1)'],
    ['families_wU18_perc', '(dfx.families_with_children / dfx.num_households)', 1, 'percent of households with kids under 18 (0-1)'],
    ['poverty_perc', '(dfx.below_poverty_level / dfx.population)', 1, 'percent below poverty level (0-1)'],
    ['non_families_perc', '(dfx.non_family_households / dfx.num_households)', 1, 'percent of non-family households (0-1)'],
    ['vacant_perc', '(dfx.vacant_units / dfx.num_households)', 1, 'percent of units that are vacant (0-1)'],
    ['perc_moved_fr_same_county', '(dfx.moved_fr_same_county / dfx.population)', 1, 'percent moved from within county (0-1)'],
    ['perc_moved_fr_other_county', '(dfx.moved_fr_other_county / dfx.population)', 1, 'percent moved from other county within state (0-1)'],
    ['perc_moved_fr_other_state', '(dfx.moved_fr_other_state / dfx.population)', 1, 'percent moved from other state (0-1)'],
    ['perc_moved_fr_abroad', '(dfx.moved_fr_abroad / dfx.population)', 1, 'percent moved from abroad (0-1)'],
    ['single_fam_perc', '(dfx.single_family_units / dfx.num_households)', 1, 'percent of units that are single family (0-1)'],
    ['public_trans_perc', '(dfx.workers_using_public_trans / dfx.workers)', 1, 'percent of workers using public trans (0-1)'],
    ['foreign_born_perc', '(dfx.foreign_born / dfx.population)', 1, 'foreign born percent (0-1)'], 
    ['male_perc', '(dfx.male / (dfx.male + dfx.female))', 1, 'male percent (M/(M+F)) (0-1)'], 
]
df_formulas = pd.DataFrame(formulas, columns=['myname', 'formula', 'use_as_is', 'note'])
df_formulas

,myname,formula,use_as_is,note
0,labor_force_perc,(dfx.labor_force / dfx.population),1,labor force perc (0-1)
1,unemployed_perc,(dfx.unemployed / dfx.population),1,labor force perc (0-1)
2,bach_degr_perc,(dfx.bachelors_degr / dfx.population),1,bachelors degree perc (0-1)
3,masters_degr_perc,(dfx.masters_degr / dfx.population),1,masters degree perc (0-1)
4,peops_per_household,(dfx.population / dfx.num_households),1,people per household
5,owner_occ_perc,(dfx.owner_occupied / dfx.num_households),1,percent owner occupied (0-1)
6,new_units_perc,(dfx.housing_units_built_last_year / dfx.num_h...,1,"units built last year, percent of all units (0-1)"
7,families_wU18_perc,(dfx.families_with_children / dfx.num_households),1,percent of households with kids under 18 (0-1)
8,poverty_perc,(dfx.below_poverty_level / dfx.population),1,percent below poverty level (0-1)
9,non_families_perc,(dfx.non_family_households / dfx.num_households),1,percent of non-family households (0-1)
10,vacant_perc,(dfx.vacant_units / dfx.num_households),1,percent of units that are vacant (0-1)
11,perc_moved_fr_same_county,(dfx.moved_fr_same_county / dfx.population),1,percent moved from within county (0-1)
12,perc_moved_fr_other_county,(dfx.moved_fr_other_county / dfx.population),1,percent moved from other county within state (...
13,perc_moved_fr_other_state,(dfx.moved_fr_other_state / dfx.population),1,percent moved from other state (0-1)
14,perc_moved_fr_abroad,(dfx.moved_fr_abroad / dfx.population),1,percent moved from abroad (0-1)
15,single_fam_perc,(dfx.single_family_units / dfx.num_households),1,percent of units that are single family (0-1)
16,public_trans_perc,(dfx.workers_using_public_trans / dfx.workers),1,percent of workers using public trans (0-1)
17,foreign_born_perc,(dfx.foreign_born / dfx.population),1,foreign born percent (0-1)
18,male_perc,(dfx.male / (dfx.male + dfx.female)),1,male percent (M/(M+F)) (0-1)

In [22]:
T2 = T.reset_index()
T3 = T2[['index']]
T4 = T3.merge(dff, left_on='index', right_on='myname', how='left')
T5 = T4.drop(columns=['myname'])
T5.sample(10)

,index,code,use_as_is,note,descr1,descr2
18,new_units_perc,NaN,NaN,NaN,NaN,NaN
25,perc_moved_fr_other_state,NaN,NaN,NaN,NaN,NaN
10,cost_of_living_perc,B25092_001E,1.0,cost of living percent of income,Estimate!!Median selected monthly owner costs ...,MEDIAN SELECTED MONTHLY OWNER COSTS AS A PERCE...
33,pct_next_2yr,NaN,NaN,NaN,NaN,NaN
2,population,B01001_001E,1.0,use as is and use for calculations,Estimate!!Total:,SEX BY AGE
45,weighted_avg,NaN,NaN,NaN,NaN,NaN
43,year_2020,NaN,NaN,NaN,NaN,NaN
37,pct_next_6yr,NaN,NaN,NaN,NaN,NaN
0,zipcode,NaN,NaN,NaN,NaN,NaN
27,single_fam_perc,NaN,NaN,NaN,NaN,NaN

In [23]:
T6 = T5.merge(df_formulas, left_on='index', right_on='myname', how='left')
T6.sample(10)

,index,code,use_as_is_x,note_x,descr1,descr2,myname,formula,use_as_is_y,note_y
16,peops_per_household,NaN,NaN,NaN,NaN,NaN,peops_per_household,(dfx.population / dfx.num_households),1.0,people per household
12,labor_force_perc,NaN,NaN,NaN,NaN,NaN,labor_force_perc,(dfx.labor_force / dfx.population),1.0,labor force perc (0-1)
34,pct_next_3yr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,population,B01001_001E,1.0,use as is and use for calculations,Estimate!!Total:,SEX BY AGE,NaN,NaN,NaN,NaN
44,year_2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,year_2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,pct_next_7yr,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,typ_price,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,median_age,B01002_001E,1.0,just median age,Estimate!!Median age --!!Total:,MEDIAN AGE BY SEX,NaN,NaN,NaN,NaN
45,weighted_avg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
T6[['index']]

                         index
0                      zipcode
1                         year
2                   population
3      median_household_income
4                   median_age
5                  median_rent
6     mean_travel_time_to_work
7                 median_value
8                ave_num_rooms
9                         gini
10         cost_of_living_perc
11               median_RE_tax
12            labor_force_perc
13             unemployed_perc
14              bach_degr_perc
15           masters_degr_perc
16         peops_per_household
17              owner_occ_perc
18              new_units_perc
19          families_wU18_perc
20                poverty_perc
21           non_families_perc
22                 vacant_perc
23   perc_moved_fr_same_county
24  perc_moved_fr_other_county
25   perc_moved_fr_other_state
26        perc_moved_fr_abroad
27             single_fam_perc
28           public_trans_perc
29           foreign_born_perc
30                   male_perc
31                   typ_price
32                pct_next_1yr
33                pct_next_2yr
34                pct_next_3yr
35                pct_next_4yr
36                pct_next_5yr
37                pct_next_6yr
38                pct_next_7yr
39                pct_next_8yr
40                pct_next_9yr
41               pct_next_10yr
42                   year_2019
43                   year_2020
44                   year_2021
45                weighted_avg
46                      winner

In [34]:
droplist = ['pct_next_2yr', 'pct_next_3yr', 'pct_next_4yr', 'pct_next_5yr', 'pct_next_6yr', 'pct_next_7yr', 'pct_next_8yr', 'pct_next_9yr', 'pct_next_10yr']

In [38]:
T7 = T6[~T6['index'].isin(droplist)]
T7 = T7.drop(columns=['use_as_is_x', 'use_as_is_y'])
print(len(T7))
T7.sample(10)

38

,index,code,note_x,descr1,descr2,myname,formula,note_y
26,perc_moved_fr_abroad,NaN,NaN,NaN,NaN,perc_moved_fr_abroad,(dfx.moved_fr_abroad / dfx.population),percent moved from abroad (0-1)
11,median_RE_tax,B25103_001E,median real estate taxes paid,Estimate!!Median real estate taxes paid --!!To...,MORTGAGE STATUS BY MEDIAN REAL ESTATE TAXES PA...,NaN,NaN,NaN
31,typ_price,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,year_2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,owner_occ_perc,NaN,NaN,NaN,NaN,owner_occ_perc,(dfx.owner_occupied / dfx.num_households),percent owner occupied (0-1)
18,new_units_perc,NaN,NaN,NaN,NaN,new_units_perc,(dfx.housing_units_built_last_year / dfx.num_h...,"units built last year, percent of all units (0-1)"
5,median_rent,B25064_001E,seems to be in $. maybe not that important sin...,Estimate!!Median gross rent,MEDIAN GROSS RENT (DOLLARS),NaN,NaN,NaN
12,labor_force_perc,NaN,NaN,NaN,NaN,labor_force_perc,(dfx.labor_force / dfx.population),labor force perc (0-1)
23,perc_moved_fr_same_county,NaN,NaN,NaN,NaN,perc_moved_fr_same_county,(dfx.moved_fr_same_county / dfx.population),percent moved from within county (0-1)
42,year_2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
T7.to_csv('fields_for_Mexi', index=False)